<section class="products-section">
    <div class="product-cards">
        <div class="product-card" *ngFor="let product of products">
            <div class="card-header">
                <h3>{{ product.name }}</h3>
                <h4>{{ product.price }}</h4>
            </div>
            <div class="card-body">
            </div>
            <div class="card-footer">
                <div class="card-button" [class.selected]="product.quantity" (click)="toggleProductSelection(product)">{{ product.quantity ? 'Selected' : 'Select' }}</div>
            </div>
        </div>
    </div>
    <app-summary [cartItems]="cartItems" [payPalConfig]="payPalConfig" (onSuccessCallback)="onSuccessCallback($event)" (onCancelCallback)="cancelCallback($event)" (onErrorCallback)="errorCallback($event)"></app-summary>
</section>